<div class="login-Back">
    <div class="container text-center align-items-center">
        <div class="row align-items-start Row-Height">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 page">
                <h2 class="Heading-2"> Login</h2>

                <form action="" class="frmlogin">

                    <div class="txt">
                        <input type="text" placeholder="User Name" class="txt-Control" name="txtUser" id="txtUser" 
                        [style.padding-left]="sUserError ? '15px' : '5px'"
                        [(ngModel)]="Username"
                        >

                        <span class="txt-Border"></span>
                        <span class="txt-Border-2"></span>
                        <i [style.display]="sUserError ? 'inline-block' : 'none'"
                         class="bi bi-info-circle UserError" title="{{sUserError}}"></i>

                        
                    </div>
                    <div class="txt-1">
                        <input type="password" placeholder="Password" class="txt-Pass" name="txtpassword"
                            id="txtpassword" [style.padding-left]="sPassError ? '15px' : '5px'"
                            [(ngModel)]="Password"
                            >
                        <span class="txt-Border-1"></span>
                        <span class="txt-Border-3"></span>
                        <i [style.display]="sPassError ? 'inline-block' : 'none'"
                            class="bi bi-info-circle PassError" title="{{sPassError}}"></i>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Remember Me
                        </label>
                    </div>

                    <div class="btn-container">
                        <button class="btn"(click)="Login">Login</button>
                    </div>
                </form>
            </div>


            <div class="col-xl-7 col-lg-6 col-md-6 page-2">
                <h1 class="Heading">Quick Service Restaurant</h1>
                <p class="Content">Perfect place to taste a delicious food.</p>
            </div>

        </div>
    </div>
</div>