.login-Back {
    background-image: url(../../../assets/Images/LoginBack.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    height: 100%;
}


.page {
    height: 100%;
    background-color: rgb(255 255 255 / 21%);
    border-radius: 33px;
    box-shadow: 0px 0px 10.8px 0.5px white;
}

.page-2 {
    margin-left: 90px;
}

.Heading {
    width: fit-content;
    margin-top: 19%;
    color: white;
    text-shadow: 1px 1px 4px black;
    margin-bottom: 0px;
}


.Heading-2 {
    // width: fit-content;
    margin-top: 20px;
    color: white;
    text-shadow: 1px 1px 4px black;
    margin-bottom: 0px;
}

.Content {
    width: fit-content;
    padding-left: 44px;
    color: white;
    text-shadow: 1px 1px 1.6px black;
}

.Heading {
    width: fit-content;
    margin-top: 19%;
    color: white;
    text-shadow: 1px 1px 4px black;
    margin-bottom: 0px;
}

// Form

.frmlogin {
    margin-top: 80px;
    position: relative;
}

// .txt-Border{}
.txt-Control {
    width: 100%;
    // background-color: #ffffff3d;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    padding-left: 4px;
    color: white;
    box-sizing: border-box;
    // border-bottom: 2px solid #c9c9c98c;
    padding-bottom: 2px;
    padding-left: 5px;
    // transition: border-bottom 0.5s ease-in-out;

}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}


.txt-Control {
    border: 0;
    // padding: 7px 0px;
    border-bottom: 1px solid #c9c9c98c;

}

.txt-Control~.txt-Border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #dadada;
    transition: 0.4s;
}


.txt-Control:focus~.txt-Border,
.txt-Control:hover~.txt-Border {
    width: 100%;
    transition: 0.4s;
}

.txt {
    position: relative;
    margin-top: 10px;
}

//-----------
.txt-1 {
    position: relative;
    margin-top: 25px;
}

.txt-Pass {
    width: 100%;
    // background-color: #ffffff3d;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    padding-left: 4px;
    color: white;
    box-sizing: border-box;
    // border-bottom: 2px solid #c9c9c98c;
    padding-bottom: 2px;
    padding-left: 5px;
    border: 0;
    border-bottom: 1px solid #c9c9c98c;

}

.txt-Pass~.txt-Border-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #dadada;
    transition: 0.4s;
}


.txt-Pass:focus~.txt-Border-1,
.txt-Pass:hover~.txt-Border-1 {
    width: 100%;
    transition: 0.4s;
}

.txt-Pass::-webkit-input-placeholder ,.txt-Control::-webkit-input-placeholder {
    color: #ffffff85;
}

.txt-Pass:-moz-placeholder ,.txt-Control:-moz-placeholder {
    color: #ffffff85;
}

.txt-Pass::-moz-placeholder ,.txt-Control::-moz-placeholder {
    color: #ffffff85;
}

.txt-Pass:-ms-input-placeholder ,.txt-Control:-ms-input-placeholder {
    color: #ffffff85;
}

.form-check
{width: fit-content;}


.form-check-label{
    color: white;
    text-shadow: 1px 1px 4px black;
}
// //Responsive margin top
@media only screen and (max-width: 576px) {

    .Heading {
        width: fit-content;
        margin-top: 19%;
    }

    .page-2 {
        margin-left: 90px;
        display: none;
    }

    .Row-Height {
        height: 100%;
        padding-top: 0%;

    }

    .page {
        border-radius: 0px;
    }
}

@media only screen and (min-width: 576px) {
    .Heading {
        width: fit-content;
        margin-top: 20%;
    }

    .page-2 {

        display: none;
    }


    .Row-Height {
        height: 100%;
        padding-top: 0%;

    }

    .page {
        border-radius: 0px;
    }
}

@media only screen and (min-width: 768px) {
    .Heading {
        width: fit-content;
        margin-top: 35%;
    }

    .page-2 {
        display: block;
        margin-left: 0px;
    }

    .Row-Height {
        height: 88%;
        padding-top: 8%;

    }

    .page {
        border-radius: 33px;
    }
}

@media only screen and (min-width: 992px) {
    .Heading {
        width: fit-content;
        margin-top: 29%;
    }

    .page-2 {
        display: block;
        margin-left: 80px;
    }


    .Row-Height {
        height: 88%;
        padding-top: 8%;

    }

    .page {
        border-radius: 33px;
    }
}

@media only screen and (min-width: 1200px) {
    .Heading {
        width: fit-content;
        margin-top: 19%;
    }

    .page-2 {
        display: block;
        margin-left: 90px;
    }

    .Row-Height {
        height: 88%;
        padding-top: 8%;

    }

    .page {
        border-radius: 33px;
    }
}