<div class="login-Back">
    <div class="container text-center align-items-center">
        <div class="row align-items-start Row-Height">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 page">

            </div>

            <div class="col-xl-7 col-lg-6 col-md-6 page-2">
                <h1 class="Heading">Quick Service Restaurant</h1>
                <p class="Content">Perfect place to taste a delicious food.</p>
            </div>

        </div>
    </div>
</div>
<!-- 
<div class="container text-center align-items-center margin-auto " style="height: 100hv;">
    <div class="row justify-content-md-center no-gutters">
        <div class="login-Main col-xl-4 col-lg-5 col-md-6 mt-5 ">

            <img src="../../../assets/Images/logo2.png" alt="Logo" class="img-fluid img mt-5 mb-4">

             <form class="">

                <div class="form-row mt-4">
                    <div class="">
                        <input type="email" placeholder="Email" name="txtEmail" id="txtEmail" class="form-control txt">
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="">
                        <input type="password" placeholder="password" name="txtpassword" id="txtpassword"
                            class="form-control txt">
                    </div>
                </div>

                <div class="form-row mt-2">
                    <div class="">
                        <button type="button" class="btn btn-outline-primary btnLogin mb-5">login</button>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->