/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

//BackGroung Pic
.bg {
    background-image: url(assets/Images/login-BG.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}